<footer class="font3 fs-6" align="center">
    <div class="container">
        <hr>
        <table class="table table-borderless">
            <tr>
                <th scope="col"><a href="/info#ContactUs" class="black">Contact Us</a></th>
                <th scope="col"><a href="/info#About" class="black">About</a></th>
                <th scope="col"><a href="/info#FAQs" class="black">FAQs</a></th>
            </tr>
        </table>
        <p> &copy; Website designed by Vegetable Dog Team. Last updated 10/10/2023.</p>
    </div>
</footer>
