html {
    font-family: 'Exo', Garamond, Georgia, sans-serif;
}

.font {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.font2 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.font3 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.font4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.font5 {
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

.image-container {
    position: relative;
    height: 500px;
    overflow: hidden;
}

.image-container img {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

.image-text2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.highlight {
    color: red;
    font-size: large;
}

.bg {
    background-color: aqua;
    padding-top: 15px;
    padding-bottom: 15px;
}

.black {
    color: black;
}

.red {
    color: red;
}

.blue {
    color: blue
}

.carousel .carousel-item {
    height: 600px;
    background-color: white;
}

.carousel .carousel-item img {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    object-position: center center;
}

.feature-size {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.transaction-list {
    border-right: 1px solid #d1d1d1;
    padding: 0;

    .transaction-list-item {
        display: flex;
        /* justify-content: center; */
        align-items: center;
        height: 50px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09);
        cursor: pointer;

        .transaction-indicator {
            display: block;
            height: 100%;
            width: 5px;
        }

        .avatar {
            height: 40px;
            width: 40px;
            margin: 0 10px;
        }
    }
}
.transaction-container {
    height: 600px;

    .header {
        background-color: antiquewhite;
    }
}

.transaction-chatbox {
    transition: width 100ms;
    border-right: 1px solid #d1d1d1;
}

#toggle-message-btn {
    margin-top: 10px;
    border-color: black;
}

.transaction-details-items {
    padding: 0;
}

.trade-item1,
.trade-item2 {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09);
}

.hidden {
    display: none;
    visibility: hidden;
    width: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
}

.large-avatar {
    height: 150px;
    width: 150px;
}
