<!DOCTYPE html>
<html>

<%- include("partials/header.ejs", {title: "Thanks for your feedback"}) %>

<body>
    <div class="container">
        <h2>Thanks for your feedback</h2>
        <a href="/home" class="btn btn-primary">Return to homepage</a>
    </div>
</body>

</html>